%footer
  %p
    Copyright © #{Time.now.year}
    = link_to 'Andrii Mokii', 'https://github.com/andriimokii/ps-rails'
  %p
    %a.twitter-share-button{ 'data-show-count' => 'false',
      :href => 'https://twitter.com/share?ref_src=twsrc%5Etfw' } Tweet
    %script{ async: '', charset: 'utf-8', src: 'https://platform.twitter.com/widgets.js' }
